# repo-concourse-resource-template-.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# RUN (BINARIES)
**/bin/concourse-resource-template

# TEST
**/test/test_coverage.txt

# BUILD (BINARIES CREATED DURING DOCKER BUILD)
**/build/concourse-resource-template
