# repo-concourse-resource-template-.gitignore

# CONCOURSE SECRETS
.concourse-secrets.yml

# SSH KEYS
id_rsa*

# PGP KEYS
*.pgp

# macOS
.DS_Store

# WINDOWS
*.jpg:Zone.Identifier

# TAR FILES
*.tar.gz
*.tar.gz.gpg

# RUN (BINARIES)
**/bin/concourse-resource-template

# TEST
**/test/test_coverage.txt

# BUILD (BINARIES CREATED DURING DOCKER BUILD)
**/build/concourse-resource-template
